/* Pledge: "I pledge my honor that I have abided by the Stevens Honor System." */

body {
	margin: 20px 100px 20px 100px;
	background-color: aqua;
	font-family: "Verdana", sans-serif;
}

#logo {
	display: flex;
	justify-content: center;
}

figure {
	display: flex;
	flex-direction: column;
}

body div figure img {
	align-self: center;
}

body div figure figcaption {
	align-self: center;
}

/* Tablet */
@media screen and (max-width: 800px) {
 	#logo {
 		width: 75%;
 		height: 75%;
 	}

 	body p {
 		display: flex;
 		flex-wrap: wrap;
 	}
 }

 /* Phone */
@media screen and (max-width: 400px) {
 	#logo {
 		width: 50%;
 		height: 50%;
 	}

 	body p {
 		display: flex;
 		flex-flow: column nowrap;
 	}
 }